body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Police principale (à adapter si nécessaire) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212; /* Fond sombre */
  color: #E0E0E0; /* Couleur du texte principal */
}

h1, h2, h3, h4, h5, h6 {
  color: #FAFAFA; /* Couleur des titres */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Import de la police Poppins depuis Google Fonts (si elle n'est pas déjà incluse) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
